#dropdown{
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 40%;
  background: #94b6ff;
  height: 10em;
  display: none;
  padding: 1em;
  box-shadow: 2px 2px 5px 1px black;
}


