.owl-carousel  {
  background-color: #0c4d78;
   > div > p {
    display: none;
    vertical-align: middle;
    line-height: normal;
  }
}

#sliderContainer{
  position: absolute;
  width:100%;
  height: 0;
  top:0;
  text-align: center;
  background: #777986;
  z-index: 1000;
  //opacity: 0.6;

  &:hover {
    //opacity: 1;
  }
  //> div {
  //  height: 22px;
  //}

  > button {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);

    font-size: 1.5em;
  }

  > button.upside {
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }

}


#slider {
  height: 81px;
}
