#toolbar {
  background: #777986;
  height: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;

  //filter: alpha(opacity=60); /* For IE8 and earlier */
}


#toggleDropdown {

}

.fixedToggleButton {
  color: #ba486d;
}

