#toolbar {
  background: #777986;
  height: 20px;
  text-align: center;

}

#sliderContainer {
  position: absolute;
  width:100%;
  height: 100px;
  bottom:0;
  text-align: center;
  background: #777986;
  z-index: 1000;

  > div:first-child {
    height: 18px;
  }

}


#slider {
  height: 81px;
}

#dropdown-button {

}
